:root {
    --scissors_Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper_Gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock_Gradient: radial-gradient( hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    --scissors_Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --cyan: radial-gradient(hsl(189, 59%, 53%),hsl(189, 58%, 57%));
    --header_Outline: hsl(217, 16%, 45%);
    --border_Radius: 1rem;
    --score_Color: hsl(229, 64%, 46%);
    --dark_Color: hsl(229, 25%, 31%);
    --var-direction: 'ltr';
    --var-writing-mode: 'horizontal-tb';
}

body,html{
    width: 100%;
    height: 100%;
    min-width: 420px;
}

body {
    background:  radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    color: #FFF;
    background-repeat: no-repeat;
    font-family: Barlow Semi Condensed;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-stroke);
    margin: 0 auto;
}

header{
    margin-top: 2rem;
    border: 0.3rem solid;
    border-radius: var(--border_Radius);
    border-color: var(--header_Outline);
    padding: 1rem 1.5rem 1rem 1.5rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

#scoreContainer{
    background-color: #fff;
    border-radius: var(--border_Radius);
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
}

header h2{
    color: #0000FF;
    font-weight: 600;
    font-size: 1em;
}

header #scoreLabel{
    font-size: 3em;
    color: var(--dark_Color);
    font-weight: 800;
}

#game{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

#gameChoice{
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}

#matchResult{
    font-size: 2em;
}

.btn_Game{
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 3rem;
    filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 5.25));
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }
    
    100% {
      box-shadow: 0 0 0 60px rgba(255, 255, 255, 0);
    }
  }

.btn_Game:active{
    position:relative;
    top:4px;
}

#btn_Rock{
    background-image: url("../images/icon-rock.svg");
    border: 10px solid #fc1c1c;    
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#btn_Paper{
    grid-column-start: 1;
    grid-column-end:2;
    grid-area: "paper";
    border: 10px solid blue;
    background-image: url("../images/icon-paper.svg");
}

#btn_Scissors{
    grid-column-start: 3;
    grid-column-end:4;
    grid-area: "scissors";
    border: 10px solid rgb(255, 170, 0);
    background-image: url("../images/icon-scissors.svg");
}

#btn_Rules{
    padding: 1rem 3rem 1rem 3rem;
    border: 0.1rem solid;
    border-radius: var(--border_Radius);
    border-color:#fff;
    color: #FFF;
    background: transparent;
}

#playAgain{
    text-align: center;
}

#btn_playAgain{
    background-color: #FFF;
    color: #FF0000;
    border-radius: var(--border_Radius);
    font-size: 1.2em;
    white-space: nowrap;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
}

h3{
    white-space: nowrap;
    text-align: center;
}

#computerChoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    flex-grow: 2;
}

#playerChoice{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    flex-grow: 2;
}

#playAgain{
    flex-grow: 1;
}

#rulesCard {
    position: fixed;
    display: none;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
  
#rulesImage{
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: var(--border_Radius);
}

#btn_CloseRules{
    background-color: #FFF;
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    border: none
}

#btn_CloseRules:hover{
    cursor: pointer;
}


#img_Rules{
    flex-grow: 2;
}