:root {
  --scissors_Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --paper_Gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  --rock_Gradient: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --scissors_Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  --cyan: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
  --header_Outline: hsl(217, 16%, 45%);
  --border_Radius: 1rem;
  --score_Color: hsl(229, 64%, 46%);
  --dark_Color: hsl(229, 25%, 31%);
  --var-direction: "ltr";
  --var-writing-mode: "horizontal-tb";
}
html,
body {
  height: 100%;
  min-height: 720px;
}

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  color: #fff;
  background-repeat: no-repeat;
  font-family: Barlow Semi Condensed;
  font-weight: 700;
  display: grid;
  direction: var(--var-direction);
  writing-mode: var(--var-writing-mode);
  grid-template-columns: 1fr 3fr 1fr 0.5fr;
  grid-template-rows: 1fr 5fr 1fr 0.5fr;
  grid-template-areas:
    " header header header ."
    " . content . ."
    " . . . rules"
    " . footer . .";
  background-color: var(--color-stroke);
  max-width: 70%;
  margin: 0 auto;
}

header {
  margin-top: 2rem;
  margin-bottom: 3rem;
  grid-area: header;
  border: 0.3rem solid;
  border-radius: var(--border_Radius);
  border-color: var(--header_Outline);
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#scoreContainer {
  background-color: #fff;
  border-radius: var(--border_Radius);
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
}

header h2 {
  color: #0000ff;
  font-weight: 600;
  font-size: 1rem;
}

header #scoreLabel {
  font-size: 3rem;
  color: var(--dark_Color);
  font-weight: 800;
}

#game {
  grid-area: content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("../images/bg-triangle.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

#gameChoice {
  display: none;
  grid-area: content;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

#gameChoice h3 {
  margin-bottom: 3rem;
}

#matchResult {
  font-size: 2rem;
}

.btn_Game {
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem;
  opacity: 0.9;
}

.btn_Game:hover {
  opacity: 1;
  cursor: pointer;
}

.btn_Game:active {
  transform: translateY(4px);
}

@keyframes pulse-animation-paper {
  0% {
    box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
      0 0 0 0px rgba(255, 255, 255, 0.2), 0px 5px 1px 2px rgba(0, 0, 255, 0.65);
  }

  100% {
    box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
      0 0 0 60px rgba(255, 255, 255, 0), 0px 5px 1px 2px rgba(0, 0, 255, 0.65);
  }
}

@keyframes pulse-animation-scissors {
  0% {
    box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
      0 0 0 0px rgba(255, 255, 255, 0.2), 0px 5px 1px 2px rgb(255 170 0 / 65%);
  }

  100% {
    box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
      0 0 0 60px rgba(255, 255, 255, 0), 0px 5px 1px 2px rgb(255 170 0 / 65%);
  }
}

@keyframes pulse-animation-rock {
  0% {
    box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
      0 0 0 0px rgba(255, 255, 255, 0.2), 0px 5px 1px 2px rgb(255 0 0 / 65%);
  }

  100% {
    box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
      0 0 0 60px rgba(255, 255, 255, 0), 0px 5px 1px 2px rgb(255 0 0 / 65%);
  }
}

#btn_Rock {
  background-image: url("../images/icon-rock.svg");
  border: 15px solid #fc1c1c;
  box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
    0px 5px 1px 2px rgb(255 0 0 / 65%);
  align-self: flex-end;
}

#btn_Paper {
  border: 15px solid #0000ff;
  box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
    0px 5px 1px 2px rgba(0, 0, 255, 0.65);
  background-image: url("../images/icon-paper.svg");
}

#btn_Scissors {
  border: 15px solid rgb(255, 170, 0);
  box-shadow: inset 0px 5px 1px 2px rgba(93, 93, 93, 0.35),
    0px 5px 1px 2px rgb(255 170 0 / 65%);
  background-image: url("../images/icon-scissors.svg");
}
#rules {
  grid-area: rules;
}

#btn_Rules {
  padding: 1rem 3rem 1rem 3rem;
  border: 0.1rem solid;
  border-radius: var(--border_Radius);
  border-color: #fff;
  color: #fff;
  background: transparent;
}

#playAgain {
  text-align: center;
}

#btn_playAgain {
  background-color: #fff;
  color: #ff0000;
  border-radius: var(--border_Radius);
  font-size: 1.2rem;
  white-space: nowrap;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
}

.attribution {
  grid-area: footer;
}

h3 {
  white-space: nowrap;
  text-align: center;
}

#computerChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex-grow: 2;
}

#playerChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  flex-grow: 2;
}

#playAgain {
  flex-grow: 1;
}

#rulesCard {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#rulesImage {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: var(--border_Radius);
}

#btn_CloseRules {
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#btn_CloseRules:hover {
  cursor: pointer;
}

#img_Rules {
  flex-grow: 2;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
