:root {
    --scissors_Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper_Gradient: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock_Gradient: radial-gradient( hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    --scissors_Gradient: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --cyan: radial-gradient(hsl(189, 59%, 53%),hsl(189, 58%, 57%));
    --header_Outline: hsl(217, 16%, 45%);
    --border_Radius: 1rem;
    --score_Color: hsl(229, 64%, 46%);
    --dark_Color: hsl(229, 25%, 31%);
    --var-direction: 'ltr';
    --var-writing-mode: 'horizontal-tb';
}

body{
    background:  radial-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    color: #FFF;
    background-repeat: no-repeat;
    font-family: Barlow Semi Condensed;

    display: grid;
    direction: var(--var-direction);
    writing-mode: var(--var-writing-mode);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
        "header  header"
        "content content"
        "footer footer";
    gap: 10px;
    background-color: var(--color-stroke);
    padding: .5em;
    border-radius: 3px;
    max-inline-size: 500px;
}

.svg_Icon{
    background-image: url(images/icon-rock.svg);
    width: 25px;
    height: 25px;
}

header{
    grid-area: header;
    border: 0.3rem solid;
    border-radius: var(--border_Radius);
    border-color: var(--header_Outline);
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

header h2{
    color: #0000FF;
    font-weight: 600;

}

header h3{
    color: var(--score_Color);
    font-weight: 700;

}

#scoreContainer{
    display: flex;
    background-color: #fff;
    border-radius: var(--border_Radius);
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem 1rem 3rem;
}

#game{
    grid-area: content;
}

#btn_Rock{
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    border: 1rem solid;
    background-color: var(--rock_Gradient);
}

#btn_Rules{
    grid-area: footer;
}